

<app-menu></app-menu>
<router-outlet></router-outlet>

<!--


<button pButton
        (click)="mostrarNombre()"
        label="Cambiar Nombre"
        icon="pi pi-check"
        iconPos="right"
        class="p-button-help">
</button>

<p-card [header]="nombre | titlecase ">
  Volaba un cisne por encima del mar encrespado; sus plumas relucían como oro; una de ellas cayó en un gran barco mercante que navegaba con todas las velas desplegadas. La pluma fue a posarse en el cabello ensortijado del joven que cuidaba de las mercancías, el sobrecargo, como lo llamaban. La pluma del ave de la suerte le tocó en la frente, pasó a su mano, y el hombre no tardó en ser el rico comerciante que pudo comprarse espuelas de oro y un escudo nobiliario.
</p-card>-->


